
/* notes */
/* . is for class
    example
        [html] ... class="something" ...
        [css] ... .something { ...
*/
/* # is for id
    example
        [html] ... id="something" ...
        [css] ... #something { ...
*/

/* -------------------------------------------------- */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-origin: border-box;
}

#home {
    display: flex;
    max-height: 40vh;
    background-color: black;
}

#home div {
    width: 100%;
}

#home img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

/* -------------------------------------------------- */

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}

/* .navbar .menubtn { */
.menubtn {
    width: 100%;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.navbar:hover nav {
    visibility: visible;
}

.navbar nav {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: black;
    flex-wrap: wrap;
}

.navbar nav a{
    padding: 10px;
    display: inline-block; /* inline is default */
    text-decoration: none;
    color: white;
    text-align: center
}

.navbar nav a:hover {
    text-decoration: underline overline;
}

/* -------------------------------------------------- */

.section-row {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    padding: calc(20px + 1em) 0;
}

.block-col-100 {
    flex-basis: 100%;
}

.block-col-50 {
    flex-basis: 50%;
}

.block-col-33 {
    flex-basis: 33%;
}

.block-col-66 {
    flex-basis: 66%;
}

.block-col-25 {
    flex-basis: 25%;
}

.block-col-75 {
    flex-basis: 75%;
}

.block-col {
    flex-grow: 0;
    display: flex;
    align-items: stretch;
}

.box {
    background-color: rgb(211,211,211,.75);
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    transition-duration: .5s;
}

/* -------------------------------------------------- */

label {
    width: 100%;
    position: relative;
}

.box-txt {
    width: 100%;
    display: flex;
    align-items: center;
}

.txt {
    padding: 10px;
    width: 100%;
}

label:hover, input:hover {
    cursor: pointer;
}

label.box:hover {
    background-color: rgb(211,211,211,.9);
    border-radius: 20px;
}

.visually-hidden {
    position: absolute;
    opacity: 0.0;
    margin: 0;
    top: 0;
    left: 0;
}

.control-me {
    display: none;
    background-color: rgb(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.box > input:checked + div {
    display: block;
}

.close {
    text-align: right;
    font-size: 200%;
    font-weight: bold;
    color: DimGray;
    position: relative;
}

.close label:hover {
    color: white;
    background-color: red;
}

.popupbox {
    width: 80%;
    margin: auto;
    background-color: white;
    cursor: auto;
    position: relative;
    top: 15%;
}

.popuptxt {
    padding: 10px;
    max-height: calc(70vh - 3em);
    overflow: auto;
}

/* -------------------------------------------------- */

.box-img {
    padding: 10px;
    display: flex;
    align-items: center;
}

.box-img img {
    display: block;
    width: 100%;
}

/* -------------------------------------------------- */

/* list the rest of the backgrounds here */

#teststuffmoremoremore {
    background-image: url("../img/space.jpg");
}



/* -------------------------------------------------- */

#mapid {
    height: 50vh;
}

/* -------------------------------------------------- */

footer {
    padding: 10px;
    text-align: right;
    background-color: black;
    color: white;
}

/* -------------------------------------------------- */

h1, h2, h3, h4 {
    text-align: center;
}

p, h3 {
    margin: 0;
    word-break: break-word;
    hyphens: auto;
}

hr {
    height:5px;
    border-width:0;
    background-color: DimGray;
}

/* -------------------------------------------------- */

@media screen and (max-width: 900px) {
    .block-col-33 {
        flex-basis: 50%;
    }
	.block-col-25 {
        flex-basis: 33%;
    }
	.block-col-75 {
        flex-basis: 66%;
    }
}

@media screen and (max-width: 600px) {
    .block-col-50, .block-col-33, .block-col-66, .block-col-25, .block-col-75 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .section-row {
        padding: calc(20px + 1em) 10%;
    }
}

/* -------------------------------------------------- */

#welcome {
	background-image: url("../img/space.jpg");
}

#bio {
	background-image: url("../img/plane.jpg");
}

#edu {
	background-image: url("../img/earth.jpg");
}

#research {
	background-image: url("../img/iss.jpg");
}

#pursuits {
	background-image: url("../img/mountain.jpg");
}

#saa {
	background-image: url("../img/eagleneb.jpg");
}

#resume {
	background-image: url("../img/drone.jpg");
}

#contact {
	background-image: url("../img/rocket.jpg");
}

/* -------------------------------------------------- */





